<div uib-collapse="isCollapsed" class="collapsible-command-panel">
  <form class="form-horizontal" role="form" name="sendcommandform" novalidate>
    <div ng-repeat="property in properties">
      <div class="row">
        <div ng-switch="_properties[property].type">
          <div ng-switch-when="FreeValue">
            <div class="col-xs-6 col-sm-6">
              <label class="control-label" for="{{ property }}">{{ property }}:</label>
            </div>
            <div class="col-xs-6 col-sm-6">
              <input type="text" ng-model="test" class="form-control" placeholder="{{ property }} value" id="{{ property }}" name="{{ property }}" required>
            </div>
          </div>
          <div ng-switch-when="MultipleChoice">
            <div class="col-xs-6 col-sm-6">
              <label class="control-label" for="{{ property }}">{{ property }}:</label>
            </div>
            <div class="col-xs-6 col-sm-6">
              <select ng-model="project.board" class="form-control" ng-options="v for v in _properties[property].listvalues"  title="{{ property }}" required> 
                <option value="">Select the value for {{ property }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>    
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <button type="submit" class="command btn btn-default btn-block" ng-click="sendcommandform.$valid && send({msg: command})">Send</button>
      </div>
    </div>
  </form>
</div>  