<div class="jumbotron">
  <table class="table table-condensed noselect">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Board Type</th>
        <th>Firmare Language</th>
        <th>Registered Boards</th>                            
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="project in projects" ng-click="setSelected(project._id)" ng-dblclick="openproject(project._id)" ng-class="{selected: project._id.$oid === idSelectedProject.$oid}">
        <td><img alt="Iottly Project" src="/static/img/logo-iottly-sq.png" style="width: 20px;"><span style="white-space:pre;">   {{ project.name }}</span></td>
        <td>{{ project.board }}</td>
        <td>{{ project.fwlanguage }}</td>
        <td>{{ project.boards.length }}</td>
      </tr>
    </tbody>
  </table>
</div>

